<div id="<%= dom_id merchant %>">
  <p>
    <strong>Merchant reference:</strong>
    <%= merchant.merchant_reference %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= merchant.email %>
  </p>

  <p>
    <strong>Live on:</strong>
    <%= merchant.live_on %>
  </p>

  <p>
    <strong>Frequency:</strong>
    <%= merchant.frequency %>
  </p>

  <p>
    <strong>Minimum monthly fee:</strong>
    <%= merchant.minimum_monthly_fee %>
  </p>

</div>
