<!DOCTYPE html>
<html>
  <head>
    <title>PaymentDistributor</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav>
      <ul>
        <li><%= link_to 'Report', '/' %></li>
        <li><%= link_to 'Merchant', merchants_path %></li>
        <li><%= link_to 'Order', orders_path %></li>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
